.App {
  text-align: center;
}

.movie {
  width: 800px;
  margin: auto;
  text-align: left;
 }
 
 .movie h1 {
  text-align: center;
 }
 
 .movie .form-data {
  display: flex;
  justify-content: center;
  margin: 30px;
 }
 
 .movie .form-data label {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
 }
 
 .movie .form-data input:not([type="submit"]) {
  flex-grow: 1;
 }
